.change_Header {
  background-color: #172d67;
  color: #fbfcfc;
  flex: 1;
  padding: 20px;
  overflow-y: scroll;
}
.change_Header p {
  font-size: 1rem;
  line-height: 1.875rem;
  display: flex;
  justify-content: flex-end;
}
.change_Header .header_expression {
  overflow-x: scroll;
  width: 100%;
  min-height: 30px;
}
.change_Header .header_expression p {
  white-space: nowrap;
  min-width: 100%;
  width: fit-content;
  font-weight: bolder;
}
.change_Header .header_result {
  font-size: 1.3rem !important;
  font-weight: bold;
  min-height: 30px;
}

.header {
  flex: 1;
  background: #9db3ed;
  padding: 20px;
  overflow-y: scroll;
  color: #0b1537;
}
.header p {
  font-size: 1rem;
  line-height: 1.875rem;
  display: flex;
  justify-content: flex-end;
}
.header .header_expression {
  overflow-x: scroll;
  width: 100%;
  min-height: 30px;
}
.header .header_expression p {
  white-space: nowrap;
  min-width: 100%;
  width: fit-content;
  font-weight: bolder;
}
.header .header_result {
  font-size: 1.3rem !important;
  font-weight: bold;
  min-height: 30px;
}

.dark_keypad {
  flex: 1.2;
  display: flex;
  padding: 20px;
  background: #050c26;
  color: #bbbcbc;
}
.dark_keypad p {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.87rem;
  font-size: 1.8rem;
  transition: 2000s;
  user-select: none;
  cursor: pointer;
}
.dark_keypad .keypad_keys {
  flex: 3;
  display: flex;
  flex-wrap: wrap;
}
.dark_keypad .keypad_keys p {
  width: 33%;
  height: 25%;
}
.dark_keypad .keypad_keys p:active {
  background: rgba(0, 0, 0, 0.14);
}
.dark_keypad .keypad_symbols {
  flex: 1;
}
.dark_keypad .keypad_symbols p {
  width: 100%;
  height: 20%;
  color: #89a5f1;
}

.keypad {
  flex: 1.2;
  display: flex;
  padding: 20px;
  background: #f9f9f9;
  color: #636363;
}
.keypad p {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.87rem;
  user-select: none;
  cursor: pointer;
  font-size: 1.8rem;
}
.keypad .keypad_keys {
  flex: 3;
  display: flex;
  flex-wrap: wrap;
}
.keypad .keypad_keys p {
  width: 33%;
  height: 25%;
}
.keypad .keypad_keys p:active {
  background: rgba(0, 0, 0, 0.14);
}
.keypad .keypad_symbols {
  flex: 1;
}
.keypad .keypad_symbols p {
  width: 100%;
  height: 20%;
  color: #89a5f1;
}

.simple {
  background: #2B6B84;
  border-radius: 0 1.5rem 1.5rem 0;
  flex: 3;
}
.simple .simple_calculator {
  margin: 1rem auto;
  width: 280px;
  height: 500px;
  border-radius: 20px;
  box-shadow: 1px -1px 20px rgba(0, 0, 0, 0.15);
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.simple .simple_calculator .simple_calculator_navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  min-height: 40px;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  overflow: hidden;
}
.simple .simple_calculator .simple_calculator_navbar .simple_calculator_navbar_toggle {
  height: 15px;
  width: 30px;
  border-radius: 20px;
  box-shadow: 1px 1px 40px 80px rgba(0, 0, 0, 0.14);
}
.simple .simple_calculator .simple_calculator_navbar .simple_calculator_navbar_toggle .simple_calculator_navbar_toggle_circle {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: #fff;
  transition: 300ms;
}
.simple .simple_calculator .simple_calculator_navbar .simple_calculator_navbar_toggle .simple_calculator_navbar_toggle_circle_active {
  transform: translateX(15px);
}
.simple .simple_calculator .simple_calculator_navbar img {
  width: 20px;
  height: 20px;
}

/*# sourceMappingURL=SimpleCalculator.css.map */
