$bg-color-1: #172d67;
$bg-color-2: #050c26;
$text-color-1: #fbfcfc;
$text-color-2: #bbbcbc;
$bg-color-light-1: #9db3ed;
$bg-color-light-2: #f9f9f9;
$text-color-light-1: #0b1537;
$text-color-light-2: #636363;
.dark_keypad{
    flex: 1.2;
    display: flex;
    padding: 20px;
    background:$bg-color-2;
    color: $text-color-2;

    p {
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 1.87rem;
        font-size: 1.8rem;
        transition: 2000s;
        user-select: none;
        cursor: pointer;
    }

    .keypad_keys {
        flex: 3;
        display: flex;
        flex-wrap: wrap;

        p {
            width: 33%;
            height: 25%;

            &:active {
                background: rgba(0, 0, 0, 0.14);
            }
        }
    }

    .keypad_symbols {
        flex: 1;

        p {
            width: 100%;
            height: 20%;
            color: #89a5f1;
        }
    }
}
.keypad {
    flex: 1.2;
    display: flex;
    padding: 20px;
    background: $bg-color-light-2;
    color: $text-color-light-2;

    p {
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 1.87rem;
        user-select: none;
        cursor: pointer;
        font-size: 1.8rem;
    }

    .keypad_keys {
        flex: 3;
        display: flex;
        flex-wrap: wrap;

        p {
            width: 33%;
            height: 25%;

            &:active {
                background: rgba(0, 0, 0, 0.14);
            }
        }
    }

    .keypad_symbols {
        flex: 1;

        p {
            width: 100%;
            height: 20%;
            color: #89a5f1;
        }
    }
}