$bg-color-1: #172d67;
$bg-color-2: #050c26;
$text-color-1: #fbfcfc;
$text-color-2: #bbbcbc;
$text-color-2: #636363;
$bg-color-1: #9db3ed;
$bg-color-2: #f9f9f9;
$text-color-1: #0b1537;
.keypad{
    flex: 1.2;
    background:$bg-color-1;
}